.card-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
  width: 80vw;
  margin: 0 auto;
  border-radius: 8px;
  padding: 40px;
  gap: 20px;
}

.steps{
  display: flex;
  flex-direction: row;
  gap: 60px;
}
.steps >div{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  font-size: 18px;
  
}

.active{
  background-color: blueviolet !important; 
  color: white;
  font-weight: 700;
}

.message-container{
  font-size: 18px;
  font-weight: 700;
}

.button-container{
  display: flex;
  gap: 20px;
}